In [529]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [530]:
path = 'C:/Users/Admin/Documents/Work/Machine Learning/Salary_Data.csv'
data = pd.read_csv(path)
data

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0
6700,32.0,Male,High School,Sales Associate,3.0,50000.0
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0
6703,26.0,Female,High School,Sales Executive,1.0,35000.0

In [531]:
data.isnull().sum()

Age                    2
Gender                 2
Education Level        3
Job Title              2
Years of Experience    3
Salary                 5
dtype: int64

In [532]:
data.dropna(inplace = True)
data.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
dtype: int64

In [533]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
6699     True
6700     True
6701     True
6702     True
6703     True
Length: 6698, dtype: bool

In [534]:
data.drop_duplicates(inplace = True)
data.duplicated().sum()

0

In [535]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Education Level_encoded'] = le.fit_transform(data['Education Level'])
data

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Education Level_encoded
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0,3
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,5
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,0
4,52.0,Male,Master's,Director,20.0,200000.0,3
...,...,...,...,...,...,...,...
6623,43.0,Female,Master's Degree,Digital Marketing Manager,15.0,150000.0,4
6624,27.0,Male,High School,Sales Manager,2.0,40000.0,2
6625,33.0,Female,Bachelor's Degree,Director of Marketing,8.0,80000.0,1
6628,37.0,Male,Bachelor's Degree,Sales Director,7.0,90000.0,1
6631,30.0,Female,Bachelor's Degree,Sales Manager,5.0,70000.0,1

In [536]:
x=data[['Education Level_encoded','Age','Years of Experience']].values
y=data['Salary'].values

In [537]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.1)

In [538]:
from sklearn.neighbors import KNeighborsRegressor
knn_regressor = KNeighborsRegressor(n_neighbors = 5)
knn_regressor.fit(x_train,y_train)
y_predict = knn_regressor.predict(x_test)

In [539]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_predict,y_test)
mse

438793463.17273736

In [540]:
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_predict,y_test)
mae

14900.116201117318

In [541]:
from sklearn.metrics import r2_score
r2 =  r2_score(y_test,y_predict)
r2

0.840845754943061